MONGODB_URI=
PORT=3000
CORS_ORIGIN=http://localhost:5173

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

BREVO_URI=
BREVO_PORT=
BREVO_USER=
BREVO_PASS=

JWT_SECRET=
NODE_ENV=development